<!DOCTYPE html>
<html>
  <head>
    <title>Files Upload</title>
    <h3>Upload Files</h3>
  </head>
  <body>
    <button type="button" id="mylink" onclick="uploadnow()" class="btn btn-lg upload-btn">Upload</button>
    <input type="file" id="upload-input" multiple size="50" onchange="getTheText()" value="Upload">
    <a href="/logout"> logout </a>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <div class="progress-bar"></div>
    <p id="demo"></p>
    <script src="javascripts/upload.js"></script>
    <script src="javascripts/render.js"></script>
    <script>
      function getTheText(){
        var ele = myFunction();
        console.log(ele)
        document.getElementById("demo").innerHTML = ele;
      }
    </script>
  </body>
</html>