<html>
<head>
<title>Session NodeJS using Express</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();

        $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){       
            if(data==='done'){
                window.location.href="/admin";
            }
        });
    });
});
</script>
</head>
<body>
<h3> Login Page </h3>
<input type="text" size="40" placeholder="Enter Username" id="email"><br />
<input type="password" size="40" placeholder="Enter Password" id="password"><br /> <br/>
<input type="button" value="Submit" id="submit">
</body>
</html>